<div id="log_in">
	<h1>Welcome to I Want In</h1>

	<p>Generate interest in your company project using the virality of Yammer.</p>
	<p><%= link_to image_tag('yammer_signin.png'), "/auth/yammer" %></p>
	<p><%# current_user.full_name %></p>
</div>